@using WebQuanLiCuaHangTapHoa.Helpers
@model IEnumerable<WebQuanLiCuaHangTapHoa.Models.DanhMuc>  

@* Menu danh muc: click -> DanhMuc/DanhSach?maDM=... *@
@if (Model != null)
{
    foreach (var dm in Model)
    {
        var (displayName, icon) = CategoryIconHelper.GetCategoryInfo(dm.TenDM);

        <a href="@Url.Action("DanhSach","DanhMuc", new { maDM = dm.MaDM })" title="@dm.MoTa">
            <i class="bi @icon"></i> <span>@displayName</span>
        </a>
    }
}
