<?xml version="1.0" encoding="utf-8"?>
<!-- ============================================
     Web.config - Cấu hình ASP.NET MVC + EF6
     Dự án: WebQuanLiCuaHangTapHoa
     Phiên bản .NET Framework 4.7.2
     ============================================ -->
<configuration>
  <!-- 1️⃣ Section cho Entity Framework -->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- 2️⃣ AppSettings -->
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing" value="true" />




	  <!-- VNPAY SETTINGS-->
	  <add key="Url" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"/>
	  <add key="Api" value="https://sandbox.vnpayment.vn/merchant_webapi/api/transaction/"/>
	  <add key="TmnCode" value="SWXTNZ4V"/>
	  <add key="HashSecret" value="T0P48031WD6LLBU7515W4OM1FSZMWDEF" />
	  <add key="ReturnUrl" value="https://localhost:44361/GioHang/PaymentConfirm"/>
	  <!-- End VNPAY SETTINGS-->

      <!-- SMTP SETTINGS -->
      <add key="SmtpHost" value="" />
      <add key="SmtpPort" value="587" />
      <add key="SmtpUser" value="" />
      <add key="SmtpPass" value="" />
      <add key="SmtpFrom" value="" />
      <add key="SmtpEnableSsl" value="true" />
  </appSettings>
  <!-- 3️⃣ Cấu hình ASP.NET -->
  <system.web>
	  <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />

	  <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="/Error/Display/500">
		  <error statusCode="400" redirect="/Error/Display/400" />
		  <error statusCode="401" redirect="/Error/Display/401" />
		  <error statusCode="402" redirect="/Error/Display/402" />
		  <error statusCode="403" redirect="/Error/Display/403" />
		  <error statusCode="404" redirect="/Error/Display/404" />
		  <error statusCode="405" redirect="/Error/Display/405" />
		  <error statusCode="406" redirect="/Error/Display/406" />
		  <error statusCode="407" redirect="/Error/Display/407" />
		  <error statusCode="408" redirect="/Error/Display/408" />
		  <error statusCode="409" redirect="/Error/Display/409" />
		  <error statusCode="500" redirect="/Error/Display/500" />
		  <error statusCode="501" redirect="/Error/Display/501" />
		  <error statusCode="502" redirect="/Error/Display/502" />
		  <error statusCode="503" redirect="/Error/Display/503" />
		  <error statusCode="504" redirect="/Error/Display/504" />
	  </customErrors>

	 

	  <compilation debug="true" targetFramework="4.7.2">
      <!-- Thêm các assembly MVC/Razor để compiler nhận ViewBag, Html, Context -->
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Optimization, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="WebGrease, Version=1.6.5135.21930, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <!-- Cho phép request lớn hơn, timeout lâu hơn -->
    <httpRuntime targetFramework="4.7.2" maxRequestLength="10240" executionTimeout="300" />
  </system.web>
  <!-- 4️⃣ Entity Framework -->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- 5️⃣ Connection string -->
  <connectionStrings>
    <add name="QuanLyTapHoaThanhNhanEntities1" connectionString="metadata=res://*/Models.QuanLyTapHoaThanhNhanModel.csdl|res://*/Models.QuanLyTapHoaThanhNhanModel.ssdl|res://*/Models.QuanLyTapHoaThanhNhanModel.msl;                            provider=System.Data.SqlClient;                            provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;                            Initial Catalog=QuanLyTapHoaThanhNhan;                            Integrated Security=True;                            MultipleActiveResultSets=True;                            App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- 6️⃣ Runtime Binding Redirects -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- 7️⃣ CodeDom Compiler (bắt buộc để biên dịch Razor) -->
  <!-- 8️⃣ Cấu hình IIS cho MVC -->
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
