@{
    ViewBag.Title = "Thông tin hệ thống";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <h3 class="text-center text-primary">🧠 Thông tin hệ thống quản trị</h3>
    <ul class="list-group mt-3">
        <li class="list-group-item">Tên dự án: <strong>WebQuảnLýCửaHàngTạpHóa</strong></li>
        <li class="list-group-item">Môn học: Lập trình Web ASP.NET MVC</li>
        <li class="list-group-item">Sinh viên thực hiện: <strong>Apollo</strong></li>
        <li class="list-group-item">Ngày cập nhật: @DateTime.Now.ToString("dd/MM/yyyy")</li>
    </ul>
</div>
